#nav {
  overflow: hidden;
}

#nav a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

#nav button {
  display: block;
  text-decoration: none;
  font-size: 21px !important;
  color: black;
}

#nav .navlinks a {
  padding-left: 2em;
}

#nav a:hover {
  color: black;
}

.active {
  text-decoration: underline !important;
}

#nav .icon {
  display: none;
}

#nav .link-icon {
  font-size: 21px !important;
}

.right-header-block {
  float: right;
}

@media screen and (max-width: 600px) {
  #nav {
    max-height: 3em;
    -webkit-transition: max-height .3s ease; /* Safari */
    transition: max-height .3s ease;
    overflow: hidden;
  }
  #nav .navlinks {
    padding-top: 1.2em;
  }
  #nav .navlinks a {
    padding-left: none;
    text-align: right;
    float: none;
  }
  #nav button.icon {
    display: block;
    background: none !important;
    color: inherit;
    border: none; 
    font: inherit;
    cursor: pointer;
    float: right;
  }
  #nav.responsive {
    position: relative;
    max-height: 400px;
    -webkit-transition: max-height .3s ease; /* Safari */
    transition: max-height .3s ease;
  }
  #nav.responsive .right-header-block {
    display: inline-block;
    float: right;
  }
}